/* #root {
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

and input[type=number] {
  -moz-appearance: textfield;
}